
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Omega Availability{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header class="container header">
    <h1>Disponibilidad de Ensambles Omega</h1>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="container footer">
    <small class="muted">© 2025 CS Tools · Demo interna</small>
  </footer>
</body>
</html>
